@charset "UTF=8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
    --corPrimaria1:#3c8067;
    --corPrimaria2:#f2ebe3;
    --corNeutra1:#1c232b;
    --corNeutra2:#6c7289;
    --corNeutra3:#ffffff;

    --fonte-preco: 'Fraunces', serif;
    --fonte-padrao: 'Montserrat', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--corPrimaria2);
}

/* Main container */

section#icontainer {
    background-color: var(--corNeutra3);
    width: 375px;
    height: 615px;
    border-radius: 3%;
    
}

@media (min-width: 470px) {
    section#icontainer {
        width: 605px;
        height: 450px;
    }
}

/* Product Photo */

div#iproduct-photo {
    text-align: center;
    padding: 0;
}

.product-photo {
    width: 345px;
    height: 240px;
    border-radius: 3%;
}

@media (min-width: 470px) {
    .product-photo {
        
    }
}

/* Posso tentar, pra não usar JS, adicionar a imagem como bg da div "iproduct-photo" e a partir da media query, alterar o background url para a imagem desktop. */



button.cart {
    background: url(/images/icon-cart.svg) no-repeat left center;
    padding-left:20px;
  }